.title1 {
  text-align: center;
  background-color: green;
}
.menu2 {
  text-align: center;
  background-color: darkblue;
  color: white;
}
.b3 {
  background-color: blue;
}
.b4 {
  background-color: red;
}
.b5 {
  background-color: black;
}
.b6 {
  background-color: darkcyan;
}
.b7 {
  background-color: grey;
}
.b8 {
  background-color: yellow;
}
.b9 {
  background-color: brown;
}
.b10 {
  background-color: black;
}
.b11 {
  background-color: red;
}
.b12 {
  background-color: cyan;
}
.bdroit {
  /*ùmargin-left: -15px;*/
}
